<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- Banco remoto --> 
		<property name="hibernate.connection.url">jdbc:mysql://mysql.medralservicosrio.com.br:3306/medralservicosrio_com_br_9</property>
		<property name="hibernate.connection.username">medralservic9</property>
		<property name="hibernate.connection.password">fera2012medr@l</property>
		
		
		<!--  Banco Local -->
		<!-- 
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ferramental</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">j4n3c4554n1</property>
		-->
		
		<!-- Uso do C3P0 -->
		<property name="hibernate.c3p0.min_size">5</property>
  		<property name="hibernate.c3p0.max_size">20</property>
  		<property name="hibernate.c3p0.timeout">300</property>
  		<property name="hibernate.c3p0.max_statements">50</property>
  		<property name="hibernate.c3p0.idle_test_period">3000</property>
		
		
		<!-- Classes Mapeadas -->
		<!-- <mapping class=""/>
		-->
</session-factory>
</hibernate-configuration>