<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- <property name="hibernate.connection.url">jdbc:mysql://mysql.medralservicosrio.com.br:3306/medralservicosrio_com_br_9</property> -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ferramental</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">j4n3c4554n1</property>
		
		<!-- Classes Mapeadas -->
		<!-- <mapping class=""/>
		-->
</session-factory>
</hibernate-configuration>