/* 
    Document   : login
    Created on : 24/03/2012, 23:47:33
    Author     : Marco Aurélio
    Description:
        Purpose of the stylesheet follows.
*/

BODY {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Sans-Serif; FONT-SIZE: small
}
DIV {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Sans-Serif; FONT-SIZE: small
}
SPAN {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Sans-Serif; FONT-SIZE: small
}
TD {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Sans-Serif; FONT-SIZE: small
}
TH {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Sans-Serif; FONT-SIZE: small
}

