/* 
    Document   : menu
    Created on : 26/03/2012, 12:12:34
    Author     : Eliane Coelho
    Description:
        Purpose of the stylesheet follows.
*/

/* Gerado pelas ferramentas para desenvolvedores F12. Pode não ser uma representação fiel do arquivo de origem original */

.ui-widget {
	font-family: Verdana,Arial,sans-serif; font-size: 0.85em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input {
	font-family: Verdana,Arial,sans-serif; font-size: 0.85em;
}
.ui-widget select {
	font-family: Verdana,Arial,sans-serif; font-size: 0.85em;
}
.ui-widget textarea {
	font-family: Verdana,Arial,sans-serif; font-size: 0.85em;
}
.ui-widget button {
	font-family: Verdana,Arial,sans-serif; font-size: 0.85em;
}
.ui-widget-content {
	background: url("/showcase/javax.faces.resource/images/ui-bg_inset-hard_100_fcfdfd_1x100.png.jsf?ln=primefaces-start") repeat-x 50% bottom rgb(252, 253, 253); border: 1px solid rgb(166, 201, 226); color: rgb(34, 34, 34);
}
.ui-widget-content a {
	color: rgb(34, 34, 34);
}
.ui-widget-header {
	background: url("/showcase/javax.faces.resource/images/ui-bg_gloss-wave_75_2191c0_500x100.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(33, 145, 192); border: 1px solid rgb(66, 151, 215); color: SkyBlue; font-weight: bold;
}
.ui-widget-header a {
	color: red;
}
.ui-state-default {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_45_0078ae_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(0, 120, 174); border: 1px solid rgb(119, 213, 247); color: black; font-weight: normal;
}
.ui-widget-content .ui-state-default {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_45_0078ae_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(0, 120, 174); border: 1px solid rgb(119, 213, 247); color: black; font-weight: normal;
}
.ui-widget-header .ui-state-default {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_45_0078ae_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(0, 120, 174); border: 1px solid rgb(119, 213, 247); color: black; font-weight: normal;
}
.ui-state-default a {
	color: black; text-decoration: none;
}
.ui-state-default a:link {
	color: black; text-decoration: none;
}
.ui-state-default a:visited {
	color: black; text-decoration: none;
}
.ui-state-hover {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(121, 201, 236); border: 1px solid rgb(68, 141, 174); color: black; font-weight: normal;
}
.ui-widget-content .ui-state-hover {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(121, 201, 236); border: 1px solid rgb(68, 141, 174); color: black; font-weight: normal;
}
.ui-widget-header .ui-state-hover {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(121, 201, 236); border: 1px solid rgb(68, 141, 174); color: black; font-weight: normal;
}
.ui-state-focus {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(121, 201, 236); border: 1px solid rgb(68, 141, 174); color: black; font-weight: normal;
}
.ui-widget-content .ui-state-focus {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(121, 201, 236); border: 1px solid rgb(68, 141, 174); color: black; font-weight: normal;
}
.ui-widget-header .ui-state-focus {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(121, 201, 236); border: 1px solid rgb(68, 141, 174); color: black; font-weight: normal;
}
.ui-state-hover a {
	color: rgb(2, 104, 144); text-decoration: none;
}
.ui-state-hover a:hover {
	color: rgb(2, 104, 144); text-decoration: none;
}
.ui-state-active {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(110, 172, 44); border: 1px solid rgb(172, 221, 74); color: black; font-weight: normal;
}
.ui-widget-content .ui-state-active {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(110, 172, 44); border: 1px solid rgb(172, 221, 74); color: black; font-weight: normal;
}
.ui-widget-header .ui-state-active {
	background: url("/showcase/javax.faces.resource/images/ui-bg_gloss-wave_50_6eac2c_500x100.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(110, 172, 44); border: 1px solid rgb(172, 221, 74); color: black; font-weight: normal;
}
.ui-state-active a {
	color: black; text-decoration: none;
}
.ui-state-active a:link {
	color: black; text-decoration: none;
}
.ui-state-active a:visited {
	color: black; text-decoration: none;
}
.ui-widget:active {
	
}
.ui-state-highlight {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_55_f8da4e_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(248, 218, 78); border: 1px solid rgb(252, 209, 19); color: red;
}
.ui-widget-content .ui-state-highlight {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_55_f8da4e_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(248, 218, 78); border: 1px solid rgb(252, 209, 19); color: red;
}
.ui-widget-header .ui-state-highlight {
	background: url("/showcase/javax.faces.resource/images/ui-bg_glass_55_f8da4e_1x400.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(248, 218, 78); border: 1px solid rgb(252, 209, 19); color: rgb(145, 86, 8);
}
.ui-state-highlight a {
	color: red;
}
.ui-widget-content .ui-state-highlight a {
	color: red;
}
.ui-widget-header .ui-state-highlight a {
	color: red;
}
.ui-state-error {
	background: url("/showcase/javax.faces.resource/images/ui-bg_gloss-wave_45_e14f1c_500x100.png.jsf?ln=primefaces-start") repeat-x 50% top rgb(225, 79, 28); border: 1px solid rgb(205, 10, 10); color: rgb(255, 255, 255);
}
.ui-widget-content .ui-state-error {
	background: url("/showcase/javax.faces.resource/images/ui-bg_gloss-wave_45_e14f1c_500x100.png.jsf?ln=primefaces-start") repeat-x 50% top rgb(225, 79, 28); border: 1px solid rgb(205, 10, 10); color: rgb(255, 255, 255);
}
.ui-widget-header .ui-state-error {
	background: url("/showcase/javax.faces.resource/images/ui-bg_gloss-wave_45_e14f1c_500x100.png.jsf?ln=primefaces-start") repeat-x 50% top rgb(225, 79, 28); border: 1px solid rgb(205, 10, 10); color: rgb(255, 255, 255);
}
.ui-state-error a {
	color: rgb(255, 255, 255);
}
.ui-widget-content .ui-state-error a {
	color: rgb(255, 255, 255);
}
.ui-widget-header .ui-state-error a {
	color: rgb(255, 255, 255);
}
.ui-state-error-text {
	color: rgb(255, 255, 255);
}
.ui-widget-content .ui-state-error-text {
	color: rgb(255, 255, 255);
}
.ui-widget-header .ui-state-error-text {
	color: rgb(255, 255, 255);
}
.ui-priority-primary {
	font-weight: bold;
}
.ui-widget-content .ui-priority-primary {
	font-weight: bold;
}
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary {
	font-weight: normal; filter: Alpha(Opacity=70); opacity: 0.7;
}
.ui-widget-content .ui-priority-secondary {
	font-weight: normal; filter: Alpha(Opacity=70); opacity: 0.7;
}
.ui-widget-header .ui-priority-secondary {
	font-weight: normal; filter: Alpha(Opacity=70); opacity: 0.7;
}
.ui-state-disabled {
	filter: Alpha(Opacity=35); opacity: 0.35; background-image: red;
}
.ui-widget-content .ui-state-disabled {
	filter: Alpha(Opacity=35); opacity: 0.35; background-image: red;
}
.ui-widget-header .ui-state-disabled {
	filter: Alpha(Opacity=35); opacity: 0.35; background-image: red;
}
.ui-icon {
	width: 16px; height: 16px; background-image: url("/showcase/javax.faces.resource/images/ui-icons_0078ae_256x240.png.jsf?ln=primefaces-start");
}
.ui-widget-content .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_0078ae_256x240.png.jsf?ln=primefaces-start");
}
.ui-widget-header .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_d8e7f3_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-default .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_e0fdff_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-hover .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_056b93_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-focus .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_056b93_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-active .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_f5e175_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-highlight .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_f7a50d_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-error .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_fcd113_256x240.png.jsf?ln=primefaces-start");
}
.ui-state-error-text .ui-icon {
	background-image: url("/showcase/javax.faces.resource/images/ui-icons_fcd113_256x240.png.jsf?ln=primefaces-start");
}
.ui-icon-carat-1-n {
	
}
.ui-icon-carat-1-ne {
	background-position: -16px 0px;
}
.ui-icon-carat-1-e {
	background-position: -32px 0px;
}
.ui-icon-carat-1-se {
	background-position: -48px 0px;
}
.ui-icon-carat-1-s {
	background-position: -64px 0px;
}
.ui-icon-carat-1-sw {
	background-position: -80px 0px;
}
.ui-icon-carat-1-w {
	background-position: -96px 0px;
}
.ui-icon-carat-1-nw {
	background-position: -112px 0px;
}
.ui-icon-carat-2-n-s {
	background-position: -128px 0px;
}
.ui-icon-carat-2-e-w {
	background-position: -144px 0px;
}
.ui-icon-triangle-1-n {
	background-position: 0px -16px;
}
.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}
.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}
.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}
.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}
.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}
.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}
.ui-icon-arrow-1-n {
	background-position: 0px -32px;
}
.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}
.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}
.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}
.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}
.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}
.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}
.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n {
	background-position: 0px -48px;
}
.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w {
	background-position: 0px -64px;
}
.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}
.ui-icon-arrow-4 {
	background-position: 0px -80px;
}
.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}
.ui-icon-extlink {
	background-position: -32px -80px;
}
.ui-icon-newwin {
	background-position: -48px -80px;
}
.ui-icon-refresh {
	background-position: -64px -80px;
}
.ui-icon-shuffle {
	background-position: -80px -80px;
}
.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}
.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}
.ui-icon-folder-collapsed {
	background-position: 0px -96px;
}
.ui-icon-folder-open {
	background-position: -16px -96px;
}
.ui-icon-document {
	background-position: -32px -96px;
}
.ui-icon-document-b {
	background-position: -48px -96px;
}
.ui-icon-note {
	background-position: -64px -96px;
}
.ui-icon-mail-closed {
	background-position: -80px -96px;
}
.ui-icon-mail-open {
	background-position: -96px -96px;
}
.ui-icon-suitcase {
	background-position: -112px -96px;
}
.ui-icon-comment {
	background-position: -128px -96px;
}
.ui-icon-person {
	background-position: -144px -96px;
}
.ui-icon-print {
	background-position: -160px -96px;
}
.ui-icon-trash {
	background-position: -176px -96px;
}
.ui-icon-locked {
	background-position: -192px -96px;
}
.ui-icon-unlocked {
	background-position: -208px -96px;
}
.ui-icon-bookmark {
	background-position: -224px -96px;
}
.ui-icon-tag {
	background-position: -240px -96px;
}
.ui-icon-home {
	background-position: 0px -112px;
}
.ui-icon-flag {
	background-position: -16px -112px;
}
.ui-icon-calendar {
	background-position: -32px -112px;
}
.ui-icon-cart {
	background-position: -48px -112px;
}
.ui-icon-pencil {
	background-position: -64px -112px;
}
.ui-icon-clock {
	background-position: -80px -112px;
}
.ui-icon-disk {
	background-position: -96px -112px;
}
.ui-icon-calculator {
	background-position: -112px -112px;
}
.ui-icon-zoomin {
	background-position: -128px -112px;
}
.ui-icon-zoomout {
	background-position: -144px -112px;
}
.ui-icon-search {
	background-position: -160px -112px;
}
.ui-icon-wrench {
	background-position: -176px -112px;
}
.ui-icon-gear {
	background-position: -192px -112px;
}
.ui-icon-heart {
	background-position: -208px -112px;
}
.ui-icon-star {
	background-position: -224px -112px;
}
.ui-icon-link {
	background-position: -240px -112px;
}
.ui-icon-cancel {
	background-position: 0px -128px;
}
.ui-icon-plus {
	background-position: -16px -128px;
}
.ui-icon-plusthick {
	background-position: -32px -128px;
}
.ui-icon-minus {
	background-position: -48px -128px;
}
.ui-icon-minusthick {
	background-position: -64px -128px;
}
.ui-icon-close {
	background-position: -80px -128px;
}
.ui-icon-closethick {
	background-position: -96px -128px;
}
.ui-icon-key {
	background-position: -112px -128px;
}
.ui-icon-lightbulb {
	background-position: -128px -128px;
}
.ui-icon-scissors {
	background-position: -144px -128px;
}
.ui-icon-clipboard {
	background-position: -160px -128px;
}
.ui-icon-copy {
	background-position: -176px -128px;
}
.ui-icon-contact {
	background-position: -192px -128px;
}
.ui-icon-image {
	background-position: -208px -128px;
}
.ui-icon-video {
	background-position: -224px -128px;
}
.ui-icon-script {
	background-position: -240px -128px;
}
.ui-icon-alert {
	background-position: 0px -144px;
}
.ui-icon-info {
	background-position: -16px -144px;
}
.ui-icon-notice {
	background-position: -32px -144px;
}
.ui-icon-help {
	background-position: -48px -144px;
}
.ui-icon-check {
	background-position: -64px -144px;
}
.ui-icon-bullet {
	background-position: -80px -144px;
}
.ui-icon-radio-off {
	background-position: -96px -144px;
}
.ui-icon-radio-on {
	background-position: -112px -144px;
}
.ui-icon-pin-w {
	background-position: -128px -144px;
}
.ui-icon-pin-s {
	background-position: -144px -144px;
}
.ui-icon-play {
	background-position: 0px -160px;
}
.ui-icon-pause {
	background-position: -16px -160px;
}
.ui-icon-seek-next {
	background-position: -32px -160px;
}
.ui-icon-seek-prev {
	background-position: -48px -160px;
}
.ui-icon-seek-end {
	background-position: -64px -160px;
}
.ui-icon-seek-start {
	background-position: -80px -160px;
}
.ui-icon-seek-first {
	background-position: -80px -160px;
}
.ui-icon-stop {
	background-position: -96px -160px;
}
.ui-icon-eject {
	background-position: -112px -160px;
}
.ui-icon-volume-off {
	background-position: -128px -160px;
}
.ui-icon-volume-on {
	background-position: -144px -160px;
}
.ui-icon-power {
	background-position: 0px -176px;
}
.ui-icon-signal-diag {
	background-position: -16px -176px;
}
.ui-icon-signal {
	background-position: -32px -176px;
}
.ui-icon-battery-0 {
	background-position: -48px -176px;
}
.ui-icon-battery-1 {
	background-position: -64px -176px;
}
.ui-icon-battery-2 {
	background-position: -80px -176px;
}
.ui-icon-battery-3 {
	background-position: -96px -176px;
}
.ui-icon-circle-plus {
	background-position: 0px -192px;
}
.ui-icon-circle-minus {
	background-position: -16px -192px;
}
.ui-icon-circle-close {
	background-position: -32px -192px;
}
.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}
.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}
.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}
.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}
.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}
.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}
.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}
.ui-icon-circle-check {
	background-position: -208px -192px;
}
.ui-icon-circlesmall-plus {
	background-position: 0px -208px;
}
.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}
.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}
.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}
.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}
.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical {
	background-position: 0px -224px;
}
.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}
.ui-corner-tl {
	border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
}
.ui-corner-tr {
	border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
}
.ui-corner-bl {
	border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
}
.ui-corner-br {
	border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
}
.ui-corner-top {
	border-top-left-radius: 5px; border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
}
.ui-corner-bottom {
	border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
}
.ui-corner-right {
	border-top-right-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px;
}
.ui-corner-left {
	border-top-left-radius: 5px; border-bottom-left-radius: 5px; -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px;
}
.ui-corner-all {
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.ui-widget-overlay {
	background: url("/showcase/javax.faces.resource/images/ui-bg_flat_75_aaaaaa_40x100.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(170, 170, 170); filter: Alpha(Opacity=30); opacity: 0.3;
}
.ui-widget-shadow {
	background: url("/showcase/javax.faces.resource/images/ui-bg_flat_55_999999_40x100.png.jsf?ln=primefaces-start") repeat-x 50% 50% rgb(153, 153, 153); margin: 5px 0px 0px 5px; padding: 0px; border-radius: 5px; filter: Alpha(Opacity=45); opacity: 0.45; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.ui-inputfield {
	background: red; color: red; box-shadow: inset 0px 2px 2px #8f8f8f; -moz-box-shadow: inset 0 2px 2px #8f8f8f; -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
}
.ui-widget-content .ui-inputfield {
	background: rgb(255, 255, 255); color: rgb(2, 104, 144); box-shadow: inset 0px 2px 2px #8f8f8f; -moz-box-shadow: inset 0 2px 2px #8f8f8f; -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
}
.ui-widget-header .ui-inputfield {
	background: rgb(255, 255, 255); color: rgb(2, 104, 144); box-shadow: inset 0px 2px 2px #8f8f8f; -moz-box-shadow: inset 0 2px 2px #8f8f8f; -webkit-box-shadow: inset 0 2px 2px #8f8f8f;
}
.ui-state-focus.ui-inputfield {
	box-shadow: 0px 0px 5px #448dae, inset 0px 2px 2px #8f8f8f; -moz-box-shadow: 0px 0px 5px #448dae, inset 0 2px 2px #8f8f8f; -webkit-box-shadow: 0px 0px 5px #448dae, inset 0 2px 2px #8f8f8f;
}
.ui-widget-content .ui-state-focus.ui-inputfield {
	box-shadow: 0px 0px 5px #448dae, inset 0px 2px 2px #8f8f8f; -moz-box-shadow: 0px 0px 5px #448dae, inset 0 2px 2px #8f8f8f; -webkit-box-shadow: 0px 0px 5px #448dae, inset 0 2px 2px #8f8f8f;
}
.ui-widget-header .ui-state-focus.ui-inputfield {
	box-shadow: 0px 0px 5px #448dae, inset 0px 2px 2px #8f8f8f; -moz-box-shadow: 0px 0px 5px #448dae, inset 0 2px 2px #8f8f8f; -webkit-box-shadow: 0px 0px 5px #448dae, inset 0 2px 2px #8f8f8f;
}
